@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&family=Rubik&display=swap');
body{
	 background-color: #f2f2f2;
}

footer{
	background-color: rgba(255, 255, 255, 0);
	color: #f2f2f2;
}

#menu{
	box-shadow: none;
	border-radius: 0;
}

#menu, #menu ul, #menu ul li a{
	background-color: #184c84;
	color: #f2f2f2;
	text-shadow: none;
}

.menuContainer div{
	background-color: #f2f2f2;;
}

#main{
	text-align: center;
	padding: 20px 75px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#list{
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 30vh;
	padding: 25px 50px 50px 0px;
}

#list ul li, #madlibsList ul li{
	list-style: none;
	padding-left: 45px;
	position: relative;
	margin: 12px;
	font-size: 30px;
	font-family: 'Roboto Mono', monospace;
	text-align: left;
}

#list ul li:before, #madlibsList ul li:before{
	content: "";
	position: absolute;
	left: 5px;	display: inline-block;
	height: 30px;
	width: 30px;
	background-size: contain;
	background-image: url("img/icons8-game-controller-50.png");
}

#list ul li a, #madlibsList ul li a{
	font-style: none;
	color: black;
}

.ocean{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

.wave{
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
	position: absolute;
	width: 200%;
	height: 100%;
	animation: wave 18s -3s linear infinite;
	transform: translate3d(0, 0, 0);
	opacity: 0.8;
}

.wave:nth-of-type(2){
	bottom: 0;
	animation: wave 24s linear reverse infinite;
	opacity: 0.5;
}

.wave:nth-of-type(3){
	bottom: 0;
	animation: wave 30s -1s linear infinite;
	opacity: 0.5;
}

#waveSpace{
	height: 100px;
}

#madlibs{
	padding: 0;
	margin: 0;
}

#madlibsList{
	width: 100%;
	display: flex;
	justify-content: center;
}

#formContainer{
	margin: 25px;
	width: 800px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#mform{
	min-width: 200px;
	text-align: right;
}

#mform input, label{
	width: 150px;
}

#qform label{
	text-align: left;
	width: 200px;
}

#qform input[type=radio]{
	width: 20px;
}

#qform p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

#timeLabel{
	width: 200px;
}

.brow{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.frow{
	display: flex;
	flex-direction: row;
}

#buttons{
	justify-content: center;
}

#reset-btn, #cancel-btn{
	background-color: #184c84;
	color: #f2f2f2;
	font-size: 15px;
	width: 75px;
	padding: 10px 0;

}

#madlibsBody{
	padding: 50px;
	justify-items: center;
	align-items: center;
}

#time{
	margin: 10px;
	border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    width: 100px;
}

#receipt{
	max-width: 800px;
	min-width: 400px;
	min-height: 300px;
	background-color: rgba(24, 76, 132, 0.1);
	background-image: url(https://images.unsplash.com/photo-1615799998603-7c6270a45196?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80);
	background-size: cover;
	margin: 0px 50px;
	padding: 20px;
	font-size: 18px;
	font-family: monospace;
	font-weight: 600;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.price{
	font-size: 14px;
	font-weight: 200;
}

.qrow{
	display: flex;
	flex-direction: row;
	justify-content: flex-begin;
}

.wrong{
	color: red;
}

.correct, #score{
	color: limegreen;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

@media (max-width: 920px) {
  	#list ul li{
  		font-size: 25px;
  	}
}